@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans_Bold';
	src: url('../fonts/OpenSans_Bold.eot');
	src: url('../fonts/OpenSans_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans_Bold.woff') format('woff'), url('../fonts/OpenSans_Bold.ttf') format('truetype'), url('../fonts/OpenSans_Bold.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans_Semibold';
	src: url('../fonts/OpenSans_Semibold.eot');
	src: url('../fonts/OpenSans_Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans_Semibold.woff') format('woff'), url('../fonts/OpenSans_Semibold.ttf') format('truetype'), url('../fonts/OpenSans_Semibold.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helvetica';
	src: url('../fonts/helvetica.eot');
	src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica.woff') format('woff'), url('../fonts/helvetica.ttf') format('truetype'), url('../fonts/helvetica.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticanw';
	src: url('../fonts/helveticanw.eot');
	src: url('../fonts/helveticanw.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticanw.woff') format('woff'), url('../fonts/helveticanw.ttf') format('truetype'), url('../fonts/helveticanw.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'century_gothic';
	src: url('../fonts/century_gothic.eot');
	src: url('../fonts/century_gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/century_gothic.woff') format('woff'), url('../fonts/century_gothic.ttf') format('truetype'), url('../fonts/century_gothic.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'century_gothic_b';
	src: url('../fonts/century_gothic_b.eot');
	src: url('../fonts/century_gothic_b.eot?#iefix') format('embedded-opentype'), url('../fonts/century_gothic_b.woff') format('woff'), url('../fonts/century_gothic_b.ttf') format('truetype'), url('../fonts/century_gothic_b.svg#TrocchiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.clear {
	clear: both;
}
a:hover {
	color: #FC6432;
	text-decoration: none;
}
a.orrange {
	color: #FC6432;
}
a.orrange:hover {
	color: #E9511F;
}
.pleft {
	padding-left: 10px;
}
.profile-nav {
	padding-top: 10px;
	color: #3e3e3e;
	text-align: right;
}
.spacer_1 {
	display: block;
	margin-bottom: 8px;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
/* ----------------------------------- Header --------------------- */

.container-fluid.top {
	background: #2f353e;
	border-bottom: solid 1px #FFF;
}
header {
	background: #2f353e;
	font-family: "OpenSans_Semibold", Arial, Helvetica, sans-serif;
}
hr.top {
	margin: 0px;
	width: 100%;
	height: 0px;
	background: none;
	border: none;
	border-bottom: solid 4px #e4e4e0;
}
/*nav {
	margin-top: 15px;
	font-size: 14px;
}
.row-fluid nav [class*="span"] {
	min-height: 5px;
}
nav ul {
	margin-bottom: -1px;
}
nav ul li {
	display: inline-block;
	margin-right: 20px;
}
nav ul li a {
	color: #f7f7f3;
	display: block;
	padding-bottom: 8px;
	border-bottom: solid 4px transparent;
}
nav ul li a:hover {
	color: #3c424a;
	background-color: #f7f7f3;
	padding: 5px;
	/*border-bottom: solid 4px #ff6633;*/
/*}*/

nav {
    margin: 0 auto;
    text-align: center;
}
nav ul ul {
    display: none;
    width:100%;
    position:absolute;
    left:0;
}
nav ul li:hover > ul {
    display: block;
    background-color: #f7f7f3;
}
nav ul {
    list-style: none;
    position:relative;
}
nav ul li {
    float: left;
}
nav ul li:hover a {
    color: #3c424a;
	background-color: #f7f7f3;
    margin-bottom:5px;
    display: inline;
    width: 100%;
    line-height: 30px;
}
nav ul li a {
    display: block;
    padding: 5px 15px;
    color: #f7f7f3;
    text-decoration: none;
}
nav ul ul {
    border-radius: 0px;
    list-style: none;
    padding: 0;
    position: absolute;
}
nav ul ul li {
    float: none;
    position: relative;
    display: inline;
    width: 100%;
    line-height: 30px;
}
nav ul ul li a {
    color: #000000;
}
nav ul ul li a:hover {
    color: #3c424a;
	background-color: #f7f7f3;
}
nav ul ul ul {
    position: absolute;
    top:0;
}


.search {
	text-align: right;
}
.search form {
	margin: 0 0;
}
.search input[type="text"] {
	width: 130px;
	height: 23px;
	border: none;
	padding: 0px 0px;
	box-shadow: none;
	padding-left: 25px;
	padding-right: 15px;
	margin-bottom: 0px;
	background: url(../img/search-bg.png) no-repeat center center;
}
.search input[type="submit"] {
	width: 12px;
	height: 11px;
	border: none;
	box-shadow: none;
	position: absolute;
	margin-top: 6px;
	margin-left: 6px;
	background: url(../img/search_btn.png) no-repeat center center;
}
/* ----------------------------------- Contnet --------------------- */

.content {
	padding-top: 50px;
}
h1 {
	font-size: 23px;
	color: #ff6633;
	padding: 0px;
	margin: 0px;
	padding: 8px;
	padding-left: 15px;
	font-weight: normal;
	border: solid 1px #e7e7e1;
	border-radius: 3px;
	font-family: "century_gothic", Arial, Helvetica, sans-serif;
}
.spader_2 {
	margin-top: 30px;
	font-size: 14px;
	font-family: "helvetica", Arial, Helvetica, sans-serif;
}
.mainpage {
	font-size: 14px;
	font-family: "helvetica", Arial, Helvetica, sans-serif;
}
.profilearea img {
	margin-top: 5px;
	margin-bottom: 5px;
}
.profilearea a.orrange {
	text-align: center;
	display: block;
	max-width: 172px;
	margin-bottom: 15px;
}
.profilearea a.btn, .main-btn {
	display: block;
	max-width: 145px;
	text-shadow: none;
	background-image: none;
	background-color: #FF6634;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFF !important;
	font-size: 14px;
	margin-bottom: 10px;
	font-family: "century_gothic_b", Arial, Helvetica, sans-serif;
}
.profilearea a.btn:hover, .main-btn:hover {
	background-color: #FF6634;
}
.about {
	padding: 15px;
	border: solid 1px #e7e7e1;
	border-radius: 3px;
}
.about h2 {
	font-size: 23px;
	color: #ff6633;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	border-bottom: solid 1px #e7e7e1;
	margin-bottom: 8px;
	font-family: "century_gothic", Arial, Helvetica, sans-serif;
}
.about h2 a {
	float: right;
	color: #ff6633;
	font-size: 13px;
}
.about.user {
	margin-top: 30px;
	margin-bottom: 30px;
}
h3 {
	font-size: 18px;
	font-weight: normal;
	color: #666666;
	font-family: "century_gothic_b", Arial, Helvetica, sans-serif;
}
.formrow {
	margin-bottom: 10px;
}
form#userdata label {
	line-height: 50px;
	color: #666;
	font-size: 14px;
	font-family: "helvetica", Arial, Helvetica, sans-serif;
}

form#userdata input[type="text"], form#userdata input[type="password"] {
	height: 48px;
	box-shadow: none;
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	font-size: 14px;
	font-family: "helvetica", Arial, Helvetica, sans-serif;
	border: solid 1px #e0e0e0;
	background: #fafafa;
}
form#userdata select {
	height: 48px;
	box-shadow: none;
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	font-size: 14px;
	font-family: "helvetica", Arial, Helvetica, sans-serif;
	border: solid 1px #e0e0e0;
	background: #fafafa;
}
.required_fields {
	color: #666;
	font-size: 12px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}
button[type="submit"], button[type="button"] {
	display: block;
	max-width: 145px;
	text-shadow: none;
	background-image: none;
	background-color: #FF6634;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFF;
	font-size: 14px;
	margin-bottom: 10px;
	border-radius: 0px;
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	font-family: "OpenSans_Bold", Arial, Helvetica, sans-serif;
}
button[type="button"] {
	background-color: #FFF;
	box-shadow: none;
	color: #666666;
	font-size: 12px;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}
button[type="submit"]:hover, button[type="button"]:hover {
	background-color: #666;
	box-shadow: none;
}

.looking_for {
	padding:12px;
	background:#F4F5F0;
	border-radius:3px;
}

h5 {
	margin:0px;
	padding:0px;
	color: #FC6432;
	font-size:14px;
	margin-bottom:10px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}

h6 {
	margin:0px;
	padding:0px;
	color: #FC6432;
	font-size:14px;
	margin-bottom:10px;
	font-weight:normal;
	font-family: "century_gothic", Arial, Helvetica, sans-serif;
}

.looking_for form {
	margin:0px;
}

.looking_for input[type="text"] {
	border-radius:0px;
	box-shadow:none;
	margin:0px;
}

.looking_for .btn {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	display:inline-block;
	top: 4px;
	position: relative;
	margin-left:10px;
}

.cat_list {
	width:100%;
	margin-top: 30px;
	margin-bottom:30px;
	border-top:solid 1px #e7e7e1;
}

.catlist_row {
	border:solid 1px #e7e7e1;
	border-top:none;
}

.catlist_row h6 {
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background:#F4F5F0;
	border-bottom:solid 1px #e7e7e1;
}

.catlist_row .span4 {
	padding-left:10px;
	padding-right:10px;
}

.catlist_row ul {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:12px;
	margin-bottom:5px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}

#about_content.mainp {
	font-size:13px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}

.advertise {
	width:100%;
	height:300px;
	background:#002B8A;
	text-align:center;
	display:table;
	margin-top:15px;
	margin-bottom:15px;
}

.advertise span {
	color:#FFF;
	display:table-cell;
	vertical-align:middle;
}

.filter {
	padding:8px;
	background:#F4F5F0;
	font-size:12px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}

.filter form {
	margin:0px;
}

.filter label {
	font-size:12px;
	margin-bottom:3px;
}

.filter select {
	border-radius:0px;
	width:100%;
	max-width:100%;
	font-size:12px;
}

.follow_us {
	margin-bottom:15px;
	font-size:12px;
	font-family: "helveticanw", Arial, Helvetica, sans-serif;
}

#horizontalTab ul {
	margin-bottom:-1px;
	position:relative;
}

#horizontalTab ul li {
	background:#E4E4E0;
	border:solid 0px #e7e7e1;
	border-bottom:none;
	width:33.333%;
	text-align:center;
	margin-right:-3px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

#horizontalTab ul li:hover {
	background:#FF6634;
}

#horizontalTab ul li a {
	color:#333;
	display:block;
	padding-bottom:5px;
	padding-top:5px;
}

#horizontalTab ul li.r-tabs-state-active {
	background:#FF6634;
}

#horizontalTab ul li.r-tabs-state-active a, #horizontalTab ul li:hover a {
	color:#FFF;
}

#horizontalTab div {
	border-top:solid 8px #FF6634;
}

/* ----------------------------------- Footer --------------------- */

footer {
}
.container-fluid.footer-bottom {
	background: #dcdcd5;
	padding-top: 20px;
	padding-bottom: 15px;
}
footer h5 {
	font-size: 14px;
	color: #444343;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}
footer h5 a {
	color: #444343;
}
footer a {
	color: #444343;
}
.container-fluid.bottom {
	background: #FFFFFF;
	padding-top: 10px;
}
/* ----------------------------------- Login Box --------------------- */

#sign_up {
	-moz-border-radius: 6px;
	background: url(../img/light_box_bg.png) no-repeat center center;
	-webkit-border-radius: 6px;
	border: 0px solid #BCBCBC;
	width: 460px;
	height:440px;
	position: relative;
	display: none;
}

#signup_outer {
	width:440px;
	height:422px;
	margin:0 auto;
	margin-top:8px;
	background: url(../img/form_inner.png) no-repeat center center;
}

#form_container {
	padding: 14px 22px;
}

#sign_up #sign_up_form {
	margin-top: 13px;
}
#sign_up label {
	display: block;
	margin-bottom: 10px;
	color: #333;
	font-size: 14px;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
#sign_up label input {
	display: block;
	width: 378px;
	height: 31px;
	padding: 2px 8px;
	font-size: 1.2em;
	line-height: 35px;
	box-shadow: none;
	background:none;
	background-color: #E4E4E4;
	border: 1px solid #cccccc;
	font-size:14px;
	color:#333333;
	margin-bottom:25px;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
#sign_up label input:focus {
	outline:none;
}
#see_id {
	width: 228px;
	height: 35px;
	line-height: 15px;
	background:none;
	font-size:20px;
	color:#333333;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
.left_out {
	background:none;
	width: 100%;
	height: 23px;
	line-height: 24px;
	background:none;
	font-size:18px;
	font-weight:normal;
	color:#333;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
#sign_up_form {
	position: relative;
	background: url(divider.png) repeat-x bottom left;
}
#actions {
	height: 40px;
	margin-bottom: 20px;
	margin-top:20px;
}
a.form_button {
	float: left;
	width: 93px;
	height: 31px;
	margin-right: 15px;
}
#cancel {
	background-position: -198px -36px;
}
#log_in {
	background-position: -291px -36px;
}
#cancel:hover {
	background-position: -198px -67px;
}
#cancel:active {
	background-position: -198px -98px;
}
#log_in:hover {
	background-position: -291px -67px;
}
#log_in:active {
	background-position: -291px -98px;
}
#close_x {
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: block;
	position: absolute;
	top: -2px;
	right: -32px;
	background:none;
	opacity: 1;
	line-height:20px !important;
}

#close_x img {
	width: 30px;
	height: 30px;
}

.lb_overlay {
	cursor:pointer;
	opacity:0.8  !important;
	background:url(../img/u3.png) !important;
}

#usage {
	background-position: -323px -172px;
	width: 67px;
	height: 22px;
}

.sprited {
    background: url(download_sprite.png) no-repeat;
    line-height: 1000px;
    overflow: hidden;
    display: block;
}

#cancel {
	background-position: -198px -36px;
	opacity: 1;
}

#user_login {
	float:none;
	height:38px;
	width:100%;
	border:none;
	color:#FFF;
	background:#000000;
	border-radius:10px;
	font-weight:bold;
	font-size:18px;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

#user_login:hover {
	background:#FF6634;
}

/* ----------------------------------- Media Queries --------------------- */

 @media (min-width: 1200px) {
form#userdata input[type="text"], form#userdata input[type="password"] {
	width: 356px;
}
form#userdata select {
	width: 378px;
}
form#userdata .span3 {
	text-align: right;
}
.required_fields {
	text-align: left !important;
}
}
 @media (max-width: 900px) {
form#userdata input[type="text"], form#userdata input[type="password"] {
	width: 95%;
}
form#userdata select {
	width: 100%;
}

header .span6 {
	text-align:center;
}

nav ul li {
	display:block;
	width:100%;
	text-align:center;
}

header .search {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.looking_for input[type="text"] {
	margin-bottom:5px;
}

}

.package_heading{
	text-align:center;
}
.package_list_style ul{
	line-height: normal;
	padding-left: 13px;
}
.package_list_style li{
	color: #ff6634;
}
.package_list_style li span{
	color:#2f353e;
}

.organe_font{
	color:#ff6634;
}
.gray_font{
	font-weight: bold;
	font-size: 14px;
	color:#2f353e;
}

/****** Twitter Bootstrap Tooltip  Validation *****/

.tooltip-inner {
    background-color:red;
}
.tooltip.right .tooltip-arrow {
    border-right-color:red;
}
.tooltip.top .tooltip-arrow {
	border-top-color:red;
}

/****** Twitter Bootstrap Tooltip  Validation *****/

/********* Small H2 Heading **************/
h4 {
    font-size: 17.5px;
    border-bottom: 1px solid #e7e7e1;
    color: #ff6633;
    font-family: "century_gothic",Arial,Helvetica,sans-serif;
    font-weight: normal;
    /*margin: 0 0 8px;
    padding: 0;*/
}